.navbar {
    background-color: #a7823e;
    align-items: center;
}

.navbar-brand {
    flex-grow: 1;
    text-align: center;
}

.form-control {
    max-width: 300px;
}

.d-flex {
    gap: 10px;
}

.categorias-btn {
    background-color: #a7823e;
    color: white;
    border: none;
}

.ofertas-btn {
    background-color: #a7823e;
    color: white;
    border: none;
}

.vistas-btn {
    background-color: #a7823e;
    color: white;
    border: none;
}

.categorias-btn:hover, .ofertas-btn:hover, .vistas-btn:hover {
    opacity: 0.8;
}

.container img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.container p {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.category-btn {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.category-image {
    width: 100px;
    height: 100px;
}

#cartSection {
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #ddd;
}

#cartList {
    max-height: 200px;
    overflow-y: auto;
}

#cartList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cartList img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#clearCart {
    width: 100%;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer h5 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 15px;
}

footer p {
    font-size: 1rem;
    line-height: 1.6;
}

.bg-secondary {
    background-color: #495057;
}

.bg-secondary p {
    font-size: 0.9rem;
    margin: 0;
}

#scrollButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff8000;
    color: #ffffff;
    cursor: pointer;
}

#scrollButton:hover {
    background-color: #be6001;
}


@media (max-width: 768px) {
    .col-12 {
        margin-bottom: 30px;
    }

    footer p {
        text-align: center;
    }
}
